
@{
    ViewBag.Title = "Koskenkorvan Luomutila";
}

    <div  class="firstPageImg">
        <img src="~/Images/DSC_0546-min.JPG" width="650" height="300" />
    </div>

    <div class="col-sm-5" id="about">
        <h4>Tilan tarina</h4>
            <p>
                Koskenkorvan tila on ollut saman Riihiluoman suvun hoidossa aina 1700-luvulta. Tila sijaitsee Ohrikylässä Kristiinankaupungissa Lapväärtin naturajoen koskialueen rannalla.
                Koskenkorvan tilan nimi on tullut tästä koskialueesta jonka rannalla myös tilan rakennukset sijaitsevat. Joen rantatöyräiltä on löydetty myös kivikautisen asutuksen jäänteitä.
                Tämä jokialue henkii muinaista rauhaa ja joki suojaa myös marjoja  välillä uhkaavalta hallalta.
            </p>
            <p>
                Tilan hoidossa on kunnioitettu luontoa ja sitä on viljely maata arvostaen. Tilalla ei ole harjoitettu ns. tehoviljelyä vaan tilan hoito on painottunut maitotalouteen ja karjan kasvatukseen.
                Lehmät ja muu karja on laiduntanut näillä rantaniityillä ja nykyisillä marja- ja viljavainioilla.
            </p>
            <p>
                Luomuviljely aloitettiin tilalla 2012 jolloin ensimmäiset mustaherukkapensaat istutettiin vasikkahakaan. Tämä vahva laidunpohja antaakin hyvää voimaa herukoiden kasvulle.
            </p>
            <p>
                Mansikan viljely on aloitettu istuttamalla ensimmäiset mansikantaimet kesällä 2017.
                Samana kesänä myös marjojen pölytyksen  alkoivat hoitaa ahkerat tilan mehiläiset. Nyt saatava hunaja on aitoa kotimaista mustaherukkahunajaa. Lisäksi viljelyssä on luomukauraa -juureksia ja –vihanneksia.
            </p>
    </div>


</div> <!-- /container -->

<div class="footer">
    <p>&copy; Company 2014</p>
</div>