
@{
    ViewBag.Title = "Koskenkorvan Luomutila";
}

<div  class="firstPageImg">
    <img src="~/Images/DSC_0550-min.JPG" width="650" height="300" />
</div>

<div class="row marketing">
    <div class="col-md-6">
        <div class="general">
            <h4>Osoite</h4>
            <p>Koskenkorvan luomutila.</p>
            <p>Riihiluomantie 101</p>
            <p>64350 Karijoki</p>
        </div>
    </div>
    <div class="col-md-6">
        <div class="general">
            <h4>Tilan omistajat</h4>
            <p>Merja Riihiluima</p>
            <p>Juuso Tuure</p>
            <p>Puh. 045 8091717</p>
        </div>
    </div>
    <div class="col-md-6">
        <div class="general">
            <h4>Facebook</h4>
            <p><a href="https://www.facebook.com/koskenkorvanluomutila/">www.facebook.com/koskenkorvanluomutila</a></p>
        </div>
    </div>
</div>

<div class="footer">
    <p>&copy; Company 2014</p>
</div>

</div> <!-- /container -->
