
@{
    ViewBag.Title = "Luomutila kartalla";
}

<h2>Sijainti kartalla</h2>

<div id="googleMaps" style="width: 400px; height: 300px;"></div>
<br />
<div id="googleLocation" style="width: 400px; height: 300px;"></div>

<div class="footer">
    <p>&copy; Company 2014</p>
</div>

</div> <!-- /container -->

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBN-v4YVfNg8yRCO_yC8jAFd9jUZIQ97OU&callback=luomutila" async defer></script>
